<header class="header">
	<div class="container">
		<div class="navbar">
			<div class="logo">
				<a href="index.html">Logo</a>
			</div>

			<nav class="menu">
				<ul class="menu_body">
					<li class="menu_item"><a href="#" class="menu_item_link" data-scroll="">Home</a></li>
					<li class="menu_item"><a href="#" class="menu_item_link" data-scroll="">About</a></li>
					<li class="menu_item"><a href="#" class="menu_item_link" data-scroll="">Team</a></li>
					<li class="menu_item"><a href="#" class="menu_item_link" data-scroll="">Shop</a></li>
					<li class="menu_item"><a href="#" class="menu_item_link" data-scroll="">Pages</a></li>
				</ul>
			</nav>

			<div class="burger ">
				<span></span>
			</div>
		</div>
	</div>
</header>